[Desktop Entry]
Name=Pulse EQ
Comment=Lightweight system equalizer for PipeWire
Exec=pulse-eq
Icon=audio-equalizer
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
Keywords=PipeWire;Equalizer;Audio;Sound;EQ;
